header{
    
}



/*Logo*/

#brand{

font-family: Raleway;
font-weight: 900;
font-size: 19.6597px;
line-height: 23px;
}

/*Nav Items*/
.navbar-nav .nav-item {
font-weight: bold;
font-size: 12px;
line-height: 18px;
}

.contact-button{
background-color:  #FBD46D!important;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
color: #07031A;

}


