header{
    height: 100vh;
}

.home-container{
    color: #fefefe!important;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(/assets/img/home-hero.png)!important ;
    background-repeat: no-repeat!important;
    position: relative;
    height: 100vh;
    background-size: cover;
}



/*Logo*/

#brand{

    font-family: Raleway;
    font-weight: 900;
    font-size: 19.6597px;
    line-height: 23px;
}

/*Nav Items*/
.navbar-nav .nav-item {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.contact-button{
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #07031A;
}

/* Hero */

.hero-text{
    font-weight: bold;
font-size: 64px;
line-height: 96px;
}


.hero-button{
font-weight: bold;
font-size: 18px;
line-height: 27px;
}