header{
    height: 100vh;
}

.home-container{
    color: #fefefe!important;
    background-image: linear-gradient(rgba(7, 3, 26, 0.75), rgba(7, 3, 26, 0.75)),url(/assets/img/home-hero.png)!important ;
    background-repeat: no-repeat!important;
    position: relative;
    height: 100vh;
    background-size: cover;
}



/*Logo*/

#brand{

    font-family: Raleway;
    font-weight: 900;
    font-size: 19.6597px;
    line-height: 23px;
}

/*Nav Items*/
.navbar-nav .nav-item {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link.active{
background-color: none!important;
border-bottom: 1px solid #fb3;
}

.contact-button{
    
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #07031A;
}

/* Hero */

.hero-text{
    font-weight: bold;
font-size: 64px;
line-height: 96px;
}


.hero-button{
font-weight: bold;
font-size: 18px;
line-height: 27px;
}


@media (max-width:768px){
    .navbar {
        background-color: #07031A; }

    .navbar .nav-item .nav-link:active,
    .navbar .nav-item .nav-link.active{
        background-color: none!important;
        border-bottom: none;
        border-left: 1px solid #fb3;
}
}

.top-nav-collapse {
    background-color: #07031A; }

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #07031A!important;
    }
}